.main-box {
  height: 50px;
  display: flex;
}
.first {
  background-color: lightpink;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.second {
  background-color: lightblue;
  width: 200px;
}
.item {
  background-color: black;
  color: white;
}
