.main-box {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.lightpink {
  width: 100px;
  background-color: lightpink;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2-element {
  color: white;
  background-color: black;
}
.lightblue {
  background-color: lightblue;
  width: 200px;
}
