.box {
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-top: 12px;
  width: 450px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 5px;
  vertical-align: middle;
}
.first {
  font-size: 18px;
  border: none;
  width: 300px;
  vertical-align: middle;
}
.button {
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: rgb(29, 155, 240);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
